services:

  db:
    container_name: odoo-postgres
    image: postgres:15-alpine
    networks:
      - web
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: always

  odoo:
    container_name: odoo
    image: odoo:19.0
    networks:
      - web
    environment:
      HOST: db
      USER: ${POSTGRES_USER}
      PASSWORD: ${POSTGRES_PASSWORD}
    depends_on:
      - db
    volumes:
      - ./extra-addons:/mnt/extra-addons:rw
      - ./celer-addons:/mnt/celer-addons:rw
      - data:/var/lib/odoo
      - ./config/odoo.prod.conf:/etc/odoo/odoo.conf:rw
    command: odoo -c /etc/odoo/odoo.conf --db_host=db --db_user=${POSTGRES_USER} --db_password=${POSTGRES_PASSWORD}
    restart: always

  nginx:
    image: nginx:alpine
    depends_on:
      - odoo
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - web
    restart: always


volumes:
  postgres-data:
  data:

networks:
  web:
    driver: bridge
